@media screen and (max-width: 1200px) {
    #navegacao {
        display: none;
    }
    #nav-mobile {
        display: flex;
    }
    .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

